.tours-main{
    margin: auto;
    width: 100%;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 200px 20px 500px 50px;
    
}

.tours-highlight{
    color:rgb(26, 166, 166);
}

.tours-title{

    text-align: center;
    margin-top: -50px;
}

.flex-image-tours{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-top: 100px;
    cursor: pointer;
   
}

.dateof-travel{
    position: absolute;
    top: 150px; left: 167px;
    text-align: right;
    background-color:rgb(26, 166, 166);
    width: 150px;
    bottom: 100;
    right:0;
    padding: 5px 0px 2px; 
    border-radius:2px
}

.flex-image-tours img {
    transition: transform 0.3s ease-in-out; /* Smooth transition for transform */
}
.flex-image-tours img:hover {
    transform: scale(1.05); /* Scales the image up to 105% of its original size */
}


.days-cost{
    display: flex;
    margin-left: 40px;
    margin-bottom: -40px;
}
.cost{
    
    position: relative;
    margin-top: -50px;
    padding: 0px 140px 10px;
    width: 500px;
    color:rgb(26, 166, 166);

}
.days-duration{
    position: relative; 
    padding: 0px 20px 10px;
    color:rgb(26, 166, 166);

}
